DEBUG=1
SECRET_KEY=change-this-before-production
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DB_ENGINE=postgres
POSTGRES_DB=bristol_marketplace
POSTGRES_USER=bristol
POSTGRES_PASSWORD=bristol
POSTGRES_HOST=db
POSTGRES_PORT=5432
