{% extends "marketplace/base.html" %}

{% block content %}
  <section class="panel">
    <h1>Producer Profile</h1>
    <p>Your producer account is ready for marketplace access.</p>
    <dl>
      <dt>Business name</dt>
      <dd>{{ producer.business_name }}</dd>
      <dt>Contact name</dt>
      <dd>{{ producer.contact_name }}</dd>
      <dt>Email</dt>
      <dd>{{ producer.user.email }}</dd>
      <dt>Phone</dt>
      <dd>{{ producer.phone }}</dd>
      <dt>Business address</dt>
      <dd>{{ producer.business_address }}</dd>
      <dt>Postcode</dt>
      <dd>{{ producer.postcode }}</dd>
      <dt>Role</dt>
      <dd>{{ producer.role }}</dd>
    </dl>
  </section>
{% endblock %}
